﻿<div class="contact-list-container ng-hide" ng-show="!displayForm">
    <h2>Contact List</h2>
    <div class="clearfix"></div>
    <div class="col-sm-6" style="margin:10px 0px;">
        <button type="button" class="btn btn-success" ng-click="showForm()">Add New Candidate</button>
    </div>
    <div class="clearfix"></div>
    <div id="search" class="form col-sm-6" style="margin:10px 0px;">
        <div class="form">
            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input id="search" type="search" ng-model="searchText" class="form-control" name="search" placeholder="Name, Surname, or Position">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Position</th>
                    <th>Curiculum</th>
                    <th>Action Requested</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidate in candidates | filter:searchText">
                    <td>{{candidate.Id}}</td>
                    <td>{{candidate.Name}}</td>
                    <td>{{candidate.Surname}}</td>
                    <td>{{candidate.Position}}</td>
                    <td><a target="_self" href="/Content/CVCollections/{{candidate.CurriculumVitaePath}}" download="{{candidate.Name}}_{{candidate.Surname}}.pdf" class="btn btn-info">View</a></td>
                    <td><button type="button" class="btn btn-primary" ng-click="editCandidate(candidate)">Edit</button><button type="button" class="btn btn-danger" ng-click="deleteCandidate(candidate.Id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>